# Global
.*.swp
.DS_Store

/data
.vscode/

web/*
web/wp-admin/*
web/wp-includes/*
web/wp-content/plugins/*
web/wp-content/uploads/*

# Except for the themes directories:
!web/
!web/*/
!web/*/wp-content/
!web/*/wp-content/themes/
!web/*/wp-content/themes/*
!web/*/wp-content/themes/*/*
!web/*/wp-content/themes/*/*/*
!web/*/wp-content/themes/*/*/*/*
!web/*/wp-content/themes/*/*/*/*/*
